

.add-song {
    text-align: center;
}

.add-song-title {
    padding-top: 25px;
    color: rgb(79, 86, 96);
    font-family: Courier, monospace;

}

.add-butt {
    text-align: center;
}

.add-song input {
    width: 225px
}
